// Import custom font


  

// Colors
$primary-color: #fff;
$secondary-color: #ff3385;
$text-color: #333;
$background: linear-gradient(var(--gradient-angle), var(--gradient-start), var(--gradient-end));

// Fonts
$font-family: 'SpaceMono-Bold', 'Helvetica Neue', sans-serif;

// Buttons
$btn-bg-color: $secondary-color;
$btn-text-color: $primary-color;
$btn-padding: 1rem 2rem;
$btn-border-radius: 4px;