// Colors
$primary-color: #fff;
$secondary-color: #ff3385;
$text-color: #333;

// Fonts
$font-family: 'Helvetica Neue', sans-serif;

// Buttons
$btn-bg-color: $secondary-color;
$btn-text-color: $primary-color;
$btn-padding: 0.75rem 2rem;
$btn-border-radius: 4px;